$blood-red: #A52B21;
$red-red: #C22113;
$red: #CB3220;
$red-orange: #FA5A40;;
$orange-color: #FFA547;
$orange-yellow: #FFBD59;
$green: #306559;
$light-green: #59D424;

$black-color: $black;
$grey-dark-color: #333333;
$grey-dark-light: #A8A8A8;
$grey-dark-lighter: #EEECEC;
$grey-color: #D6DADC;
$grey-dark-white: #EAEAEA;
$light-white-grey: #ECECEC;
$light-grey-light: #F2F2F2;
$white-color: $white;

$layout-color: #07533D;

$shadow-color: rgba(0, 0, 0, 0.12);
$product-shadow: rgba(6, 66, 49, 0.25);

$primary-text-color: #333333;
$secondary-text-color: #777777;
$alt-text-color: $white-color;
