.section__about-page{
    background: url('../../images/catalog_bg.png') no-repeat center top;
    background-size: 100% auto;
    padding: 96px 0px 150px;
}

.about-page__img{
    width: 100%;
    max-width: 410px;
    background: $white-color;
    border: 1px solid $light-white-grey;
    box-shadow: 0px 16px 38px $shadow-color;
    padding: 16px;
    margin: 0 auto;
    margin-bottom: 15px;

    img{
        max-width: 100%;
    }
}

.about-page__header{
    margin-bottom: 32px;
}

.about-page__content{
    color: $black-color;
}

.about-page__position{
    color: $grey-dark-color;
}
