.product__gallary{
    width: 100%;
    max-width: 900px;
    margin-bottom: 14px;
}

.gallary__img, .gallary__mini-photo{
    width: 100%;
    text-align: center;
    cursor: pointer;

    img{
        max-width: 100%;
        
    }
}

.gallary__view-photo{
    display: none;
    max-height: 410px;
    
    @media (min-width: 576px) {
        display: block;
    }
}

.gallary__mini-photo{
    max-height: 130px;
}

.gallary__view-photo, .gallary__mini-photo{
    margin-bottom: 16px;
    overflow: hidden;
}

.gallary__photo-slide-button::after{
    color: $layout-color;
}

.pswp img {
    max-width: none;
    object-fit: contain;
}

.pswp__img--placeholder--blank{
    display: none !important;
}
