.result-window{
    padding: 20px 20px 25px;
}

.hystmodal__window{
    border-radius: 4px;
}

.result-window__success, .result-window__error{
    display: none;
    color: $black-color;

    &.view{
        display: block;
    }
}