.section__filter{
    min-height: 319px;
    background: url('../../images/filter_bg.jpg') no-repeat center;
    background-size: cover;
    padding: 48px 0px;
}

.categories{
    .h1-header{
        color: $light-green;
    }
}
